<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webserve.web.mapper.equipmentMapper">
    <select id="getEquipById" resultType="com.webserve.web.bean.equipment">
        select * from equipment where equipid = #{id}
    </select>
    <insert id="insertEquipment" parameterType="com.webserve.web.bean.equipment">
        INSERT INTO equipment(equipid,owner) VALUES (#"{equipId}",#"{owner}")
    </insert>
</mapper>